name: Test Chromatic
on: [push, workflow_dispatch]

jobs:
  build:
    name: Run Tests Across Node.js Versions and Operating Systems
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-node@v1
        with:
          node-version: 18.x

      - uses: chromaui/action@v1
        with:
          projectToken: ${{ secrets.CICD_TOKEN }}
        env:
          CI: true

      - uses: actions/checkout@v1
      - name: Run TestCafe Tests
        uses: DevExpress/testcafe-action@latest
        with:
          args: "chrome tests"